@import './template/default';
body {
    // color :#7c858e;
    font-size:14px;
    color: #23282d!important;
}

h5 {
    margin-bottom: 0px;
}

.cursor-pointer {
    cursor : pointer;
}

.form-control {
    &::placeholder {
        color : #C0C4CC;
        font-size : 14px;
    }
}

.form-control {
    &:disabled {
        cursor: not-allowed;
    }
}

.el-input.is-disabled {
    .el-input__inner {
        &:disabled {
            @extend .form-control;
            &:hover {
                @extend .form-control;
            }
        }
    }
}

.breadcrumb {
    padding-bottom: 0;
    margin-bottom: 0.25rem !important;
}

.avatar-rounded {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid $primary;
    -webkit-box-shadow: -1px 2px 44px -13px rgba(158,109,224,1);
    -moz-box-shadow: -1px 2px 44px -13px rgba(158,109,224,1);
    box-shadow: -1px 2px 44px -13px rgba(158,109,224,1);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to  {
    opacity: 0;
}

.dashcard {
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 25px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 25px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 25px -13px rgba(0, 0, 0, 0.75);
    opacity: 0.7;
    background-color: #0fceab;
    color: white;
    .title {
        font-size: 30px;
    }
    .icon {
        font-size: 100px;
    }
    .number {
        font-size: 18px;
    }
    &:hover {
        opacity: 1;
        transition: 0.5s;
    }
}

.f-12 {
    font-size: 12px!important;
}


.f-10 {
    font-size: 10px!important;
}

.clickable {
    cursor :pointer;
}


.append-btn {
    background-color: transparent;
    border: unset;
    padding: 5px;
    margin: 0;
    padding : 0 ;
    font-size: 20px;
}

.purple2 {
    background-color: #9e6de0;
    color: white;
    border-bottom-color: #9e6de0;
}
.purple {
    background-color: #7d6997;
    color: white;
    border-bottom-color: black;
}