$primary:#9e6de0;
$secondary:#23282d;
$tertiary:#191E23;
$quaternary:#32373C;
$quinary:#78909C;
$bgColor:#E3E3E3;

:export {
    primary: $primary;
    secondary: $secondary;
    tertiary: $tertiary;
    quaternary: $quaternary;
}