@import 'loginPage';
body {
    background-color:$bgColor;
    max-width: 100%;
}
.el-switch{
    .el-switch__label{
        span {
            margin-top: 2px;
        }
        &.is-active {
            color: $primary;
        }
    }
    &.is-checked{
        .el-switch__core {
            border-color: $primary;
            background-color:$primary;
        }
    }
}
.link {
    color:$primary;
    text-decoration: underline;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
    opacity: 0;
}
.page-body-wrapper {
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    .main-panel {
        transition: width 0.25s ease, margin 0.25s ease;
        width: calc(100% - 235px);
        min-height: 100vh;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        .content-wrapper {
            background: $bgColor;
            padding: 20px;
            padding-top: 15px;
            width: 100%;
            
        }
    }
}

.navbar {
    border-bottom: 1px solid #e1e1e1;
}

.img-profile {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    font-size: 10px;
    &.color{
        background-color: $quinary;
        font-weight: 500;
        color: white !important;
    }
}

@media (max-width: 768px) {
    .el-message-box {
      width: 95%;
    }
    .btn  {
      &.btn-sm-block {
        width:100%;
      }
    }
}

.card {
    box-shadow: 6px 3px 12px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 6px 3px 12px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 6px 3px 12px 0 rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 6px 3px 12px 0 rgba(0, 0, 0, 0.05);
}

.breadcrumb {
    background-color: unset;
    padding-left: 0;
    padding-top: 0;
}

.btn {
    &:disabled {
        cursor : not-allowed;
    }
}
/* Shared */
.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  
  .loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    text-shadow: 0 -1px 0 #354C8C;
  }
  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('/assets/images/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }
  
  .loginBtn--google {
    background: #DD4B39;
  }
  .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('/assets/images/icon_google.png') 6px 6px no-repeat;
  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #E74B37;
  }