.login-page {
    overflow-x: hidden;
    .left-side {
        background-color:$primary;
        color:white;
        &.signup {
            background: url("/assets/images/auth/login-bg.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        background: url("/assets/images/auth/login-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}